.hero-section {
  background-color: #0f3380;

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    p,
    h1 {
      color: white;
    }
    .input-container {
      display: flex;
      gap: 4px;
    }
  }

  .social-icons{
    display: flex;
    align-items: center;
    gap: 12px;
    .social-icons-container{
        display: flex;
        gap: 8px;
    }
  }
}
