@font-face {
    font-family: 'gilroy-light';
    src: url('../../assets//fonts/Gilroy-Light.ttf') format('ttf');
    font-style: normal;
  }
.desc-text{
    width: 300px;
    color: #333333;
    font-family: Gilroy;
    font-size: 18px;
    font-family: 'gilroy-light';
}