body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gloryNormal;
}

p {
  margin: 0;
}

.main-container {
  margin-inline: 80px;
}

@font-face {
  font-family: gloryBold;
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: gloryNormal;
  src: url(./assets/fonts/Gilroy-Medium.ttf);
}

.accessBtn {
    background: #2394c4;
    font-weight: 100;
    font-family: gloryNormal;
    letter-spacing: 0.5px;
    border: none;
  }
  