
.card {
  position: relative;
    background-image: url('../../assets/card-bg.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 400px;
    min-height: 400px;

    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      position: absolute;
      text-align: center;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
}