@font-face {
  font-family: 'gilroy-medium';
  src: url('../../assets//fonts/Gilroy-Medium.ttf') format('ttf');
  font-style: normal;
}

.card-title {
  font-family: 'gilroy-medium', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #222222;
}
