@font-face {
  font-family: gloryBold;
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: gloryNormal;
  src: url(./assets/fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: gloryLight;
  src: url(./assets/fonts/Gilroy-Light.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gloryNormal;
}

p {
  margin: 0;
}

.main-container {
  margin-inline: 80px;
}

.accessBtn, .primaryBtn {
  font-weight: 100;
  font-family: 'gloryNormal', sans-serif;
  letter-spacing: 0.5px;
  border: none;
  border: 1px solid #0F3380;
  max-width: 200px;
}

.accessBtn{
  background: #2394c4;
}

.primaryBtn{
  background: #0F3380;
}

.primaryBtn:hover{
  background: #FFFFFF;
  border: 1px solid #0F3380;
  color: #0F3380;
}

h2 {
  font-family: "gloryBold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  color: #222222;
}

h2 > span {
  color: #0f3380;
}

.white-bg-text {
  font-family: "gloryLight", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.card-title{
  font-family: 'gilroyBold', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 45px;
}

